body{
  background-color: rgb(255, 253, 253);
  width: 100%;
  box-sizing: border-box;
}
.wrap{
  display: flex;
  align-items: center;
}
.mining p{
  color: rgb(22, 22, 85);
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-left: 50%;
}
.basic{
  display: inline-block;
  margin-left: 20%;
}
.basic li{
  display: inline-block;
  margin-left: 15px;
  color: rgb(10, 10, 106);
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.button button{
  background-color: orangered;
  border-radius: 30px;
  font-size: 1.3rem;
  margin-left: 210%;
  padding-left: 40%;
  padding-right: 40%;
  color: aliceblue;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3); /
  
}
.mood p{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(6, 6, 73);
  margin-left: 20%;
  width: 60%;
  margin-top: 15%;
}
.mood{
  width: 50%;
}
.goals{
  width: 50%;
}
.goals p{
  margin-left: 20%;
  width: 50%;
  font-size: 1.2rem;
  color: rgb(150, 147, 147);
}
.last{
 width: 50%;
}
.last button{
  border-radius: 30px;
  background-color: orangered;
  margin-left: 35%;
  padding: 3% 3%;
  padding-left: 5%;
  padding-right: 5%;
  color: aliceblue;
  border-style: solid;
  box-shadow: rgb(19, 16, 16);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); /
}
.below{
  display: flex;
}
.chew{
  width: 50%;
  display: inline-block;
}
.chew h3{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(6, 6, 73);
  margin-left: 20%;
  width: 80%;
  margin-top: 15%;
}
.chew p{
  margin-left: 20%;
  width: 50%;
  font-size: 1.2rem;
  color: rgb(150, 147, 147);
}
.bite{
  display: inline-block;
  width: 50%;
 
}
.bite button{
  background-color: orangered;
  font-size: 2rem;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 30%;
  margin-top: 16%;
  margin-left: 10%;
  color: aliceblue;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); 
}
.bite h3{
  display: inline-block;
  margin-left: 7%;
  color: rgb(6, 6, 73);
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.bite p{
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  width: 50%;
  margin-left: 29%;
  color: rgb(150, 147, 147);
}

.praise h3{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(6, 6, 73);
  text-align: center;
}
.mute img{
  width: 10%;
  border-radius: 30px;
  margin-left: 40%;
  
}
.mute{
  background-color: rgb(242, 242, 242);
  
}
.mute p{
  color: rgb(150, 147, 147);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;  
  
}
.wine{
  background-color: rgb(242, 242, 242);
  margin-left: 1%;
}
.wine img{
  width: 10%;
  border-radius: 30px;
  margin-left: 40%;
}
.wine p{
  color: rgb(150, 147, 147);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 8%;
  
}
.book{
  background-color: rgb(242, 242, 242);
  margin-left: 1%;
}
.book p{
  color: rgb(150, 147, 147);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 8%;  
}


.flex{
  display: flex;
}





.dog{
  display: inline-block;
  width: 50%;
  margin-left: 50%;
}
.dog button{
  background-color: orangered;
  font-size: 2rem;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 30%;
  margin-top: 16%;
  margin-left: 10%;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); 
  color: aliceblue;
}
.dog h3{
  display: inline-block;
  margin-left: 7%;
  color: rgb(6, 6, 73);
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.dog p{
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  width: 50%;
  margin-left: 29%;
  color: rgb(150, 147, 147);
}
.lion{
  display: inline-block;
  width: 50%;
  margin-left: 50%;
}
.lion button{
  color: aliceblue;
  background-color: orangered;
  font-size: 2rem;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 30%;
  margin-top: 16%;
  margin-left: 10%;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4); 
}
.lion h3{
  display: inline-block;
  margin-left: 7%;
  color: rgb(6, 6, 73);
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.lion p{
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  width: 50%;
  margin-left: 29%;
  color: rgb(150, 147, 147);
}
.light button{
  border-radius: 30px;
  background-color: orangered;
  margin-left: 43%;
  padding: 1.5% 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  color: aliceblue;
  margin-top: 8%;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.9); 

}
.simple{
  background-color: orangered;
  padding: 3% 3%;
  margin-top: 5%;
  display: flex;
  width: 94%;
  
}
.simple p{
  font-size: 2rem;
  color: white;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 94%;
}
.ifiok{
  width: 60px;
  border-radius: 50%;
}

.smart button{
  margin-top: 80%;
  
}
footer{
  background-color: rgb(14, 11, 25);
  height: 70%;
  color: white;
  display: flex;
  height: 400px;
}

.other p{
  display: inline-block;
  font-size: 3rem;
  margin-top: 40%;
}
.design li{
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 200%;
}
.other{
  margin-left: 14%;
}
.design{
  display: inline-block;
  margin-left: 10%;
  margin-top: 6%;
}
.logo{
  display: inline-block;
  margin-left: 10%;
  margin-top: 6%;
}
.logo li{
  list-style-type: none;
  line-height: 250%;
}
.condition{
  display: inline-block;
  margin-left: 10%;
  margin-top: 6%;
  
}
.condition input{
  border-radius: 20px; 
  padding: 10px; 
  border: 1px solid #ccc;
  width: 200px; 
  font-size: 16px; 
}
.condition p{
  color: #848383;
  margin-top: 45%;
}
.condition button{
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 10px;
  width: 70px;
  background-color: rgb(247, 110, 60);
}